
/* Nav component */
.navbar{
  background-color: var(--white);
  padding: 10px 0;
}
.active{
  border-top: 1.45px solid var(--black);
  border-bottom: 1.45px solid var(--black);
  color: var(--black) !important;
}
.active:hover{
  border-top: 1.45px solid var(--orange);
  border-bottom: 1.45px solid var(--orange);
  color: var(--orange);
}
.navlink:hover{
  color: var(--orange);
}
.navlink.active:hover{
  color: var(--orange);
}
.navitem{
  margin: 0 35px;
}


/* general styles */
.headerh1{
  padding-top: 400px;
}
.light{
  font-weight: 300 !important;
  font-style: normal !important;
}
h1.light{
  color: var(--grey);
}
.bold{
  font-weight: 700 !important;
  font-style: normal;
}
.link{
  color: var(--orange);
}
.link:hover{
  color: var(--orange);
  font-weight: bold;
}
.imageheader {
  position: relative; 
  display: inline-block; 
}

.imageheader img {
  display: block; 
  width: 100%;
}

.containerLogin{
  max-height: fit-content !important;
  background-color: var(--lightgrey);
  -webkit-box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.56); 
  box-shadow: 0px 9px 18px -6px rgba(0,0,0,0.15);
  margin-top: 80px !important;
}
.smallgrey{
  font-size: small;
  color: var(--grey);
}
.smallgrey a{
  text-decoration: none;
}


/* buttons */
.imageheader .btn-white {
  position: absolute; 
  top: -10%; 
  z-index: 10; 
  top: 85%;
}
.btn-white{
  background-color: var(--white) !important; 
  text-transform: uppercase !important;
  letter-spacing: 0.2cap !important;
  padding: 30px 20px !important;
  border-radius: 0 !important;
  font-weight: 300 !important;
  font-style: normal !important;
  font-size: 12px !important;
  min-width: 222px !important;
}
.btn-white:hover{
  text-decoration: none !important;
  background-color: var(--orange) !important;
  color: var(--white) !important;
  border:none !important;
}
.btn-dark{
  background-color: var(--darkgrey);
  color: var(--white);
  text-transform: uppercase;
  letter-spacing: 0.2cap !important;
  padding: 30px 20px !important;
  border-radius: 0 !important;
  font-weight: 300 !important;
  font-style: normal;
  font-size: 12px !important;
  min-width: 222px !important;
}
.btn-dark:hover{
  text-decoration: none;
  background-color: var(--orange);
  color: var(--white);
  border:none;
}
.btn{
  min-width: 222px;
}

/* number component */
.bglightgrey{
  background-color: var(--lightgrey);
}
.numbersp{
  font-size: 22px !important;
}
.bignumber{
  color: var(--middlegrey);
  font-size: 200px !important;
  font-weight: 900;
  font-style: normal;
  top: -60px;
  position: relative;
}
.leftpadding{
  padding-left: 40px;
}


/* add forms component */
.orange{
  color: var(--orange);
}
.inputgroupCustom{
  background-color: var(--middlegrey) !important;
  padding: 10px;

}

.inputgroupCustom>:not(:first-child):not(.dropdown-menu):not(.valid-tooltip):not(.valid-feedback):not(.invalid-tooltip):not(.invalid-feedback) {
  margin-left: -1px;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
}
.inputgroupCustom>.formcontrolCustom, .inputgroupCustom>.formselectCustom {
  position: relative;
  flex: 1 1 auto;
  width: 1%;
  min-width: 0;
}
.inputgrouptextCustom{
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--forms-text);
  font-size: 16px;
  background-color: var(--middlegrey);
  border-radius: 0 !important;
  /* width: 100%; */
  border: none !important;
}
.abstandrechts{
  padding: 0 15px 0 0;
}
.formcontrolCustom{
  background-color: var(--middlegrey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--forms-text);
  font-size: 14px;
  border: 1px solid var(--lightgrey) !important;
  box-shadow: none;
}
.formcontrolCustom:focus{
  background-color: var(--middlegrey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--forms-text);
  font-size: 14px;
  outline: none !important;
  border: 0.5px solid var(--lightgrey) !important;
  box-shadow: none;
}
.formselectCustom{
  background-color: var(--middlegrey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--forms-text);
  font-size: 14px;
  border: 1px solid var(--lightgrey) !important;
  box-shadow: none;
}
.formselectCustom:focus{
  background-color: var(--middlegrey);
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: var(--forms-text);
  font-size: 14px;
  outline: none;
  border: 0.5px solid var(--lightgrey) !important;
  box-shadow: none;
}





/* card component */
.card{
  background-color: var(--lightgrey);
  border: none;
  border-radius: 0 !important;
}
.cardimgtopCustom{
  border-radius: 0 !important;
}
.cardbodyCustom{
  padding: 0 15px;
}
.cardtitleCustom{
  padding: 30px 0 40px 0;
  color: var(--grey);
  font-size: 50px;
}






/* footer component */

.footer{
  background-color: var(--darkgrey);
  color: var(--white);
  font-size: smaller;
}
.center{
  text-align: center;
}
.footer a:hover{
  text-decoration: none;
  color: var(--orange);
} 
.footer a{
  text-decoration: none;
  color: var(--white);
} 
.footer i{
  margin: 0 10px;
}
